.navbar {
	margin: auto;
	margin-top: 2rem;
	/*margin: 1rem 1rem 1rem 1rem;*/
	background: rgb(10, 10, 10);
	width: 60%;
	border-radius: 5px;
}

.navbar-brand2 {
	/*background: rgb(20, 20, 20);*/
}

#brandText {
	font-family: monospace;
	font-weight: bold;
	color: rgb(0, 255, 0);
}

.navbar-nav {
	background: rgb(50, 50, 50);
	border-radius: 5px;
	margin-right: -5px;
}

.navbar-nav > .active {
	background: blue;
	font-weight: bold;
}

.navbar-nav > li {
	padding-left: 1rem;
	padding-right: 1rem;
}

.navText {
	color: rgb(150, 150, 150);
}

.active > .navText {
	/*background-color: rgb(100, 100, 100);*/
	color: rgb(0, 255, 0);
}

.nav-link:hover > .navText {
	color: rgb(255, 255, 255);
}

.main {
	background-color: rgb(0, 0, 0);
	font-family: monospace;
	/*background: rgb(100, 100, 100);*/
	width: 60%;
	margin-top: 7rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: rgb(0, 255, 0);
	border-radius: 15px;
}

.active {
	font-weight: bold;
}

.main h1 {
	font-size: 35px;
	font-family: monospace;
	text-align: center;
	font-weight: bold;
}

.main h2 {
	font-size: 15px;
  border-bottom-style: solid;
	border-bottom-color: rgb(0, 255, 0);
	border-bottom-width: 2px;
	/*background-color: rgb(255,255,255);*/
}

.main p {
	padding-bottom: 2rem;
}

.main svg {
	width: 600px;
	height: 300px;
}

.main svg rect {
	x: 150px;
	height: 20px;
	fill: rgb(0, 255, 0);
}

.main svg text {
	fill: rgb(255, 255, 255);
}

.main .break {
	width: 50%;
	padding-bottom: 1rem;
}

.footer {
	background-color: rgb(0, 0, 0);
	font-family: monospace;
	/*background: rgb(100, 100, 100);*/
	width: 60%;
	margin-top: 10rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: rgb(0, 255, 0);
	border-radius: 5px;
	text-align: center;
}

#contactInfoWrapper {
	text-align:center;
	padding: 1rem 1rem 1rem 1rem;
	font-size: 18px;
}

#displayEmail {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#contactForm {
	/*background: blue;*/
}


#contactForm > input {
	display: block;
	margin: auto;
	margin-bottom: 1rem;
	width: 30rem;
	color: rgb(0, 255, 0);
	background-color: rgb(200, 200, 200);
	font-size: 14px;
}

#contactForm > input::placeholder {
	/*color: rgb(32, 194, 14);*/
}

#contactForm > textarea {
	display: block;
	height: 15rem;
	margin: auto;
	margin-bottom: 1rem;
	width: 30rem;
	background-color: rgb(200, 200, 200);
	font-size: 14px;
}

#contactForm > button {
	display: block;
	margin: auto;
	background-color: rgb(200, 200, 200);
}

.App {
   /*text-align: center; */
}

body {
	background-color: rgb(50, 50, 50);
	/*background-color: black;*/
}
